.about {
  //Padding & Margins
  @include page-margin;
  margin: 64px 0;
  @media (min-width: 768px) {
    margin: 112px 0;
  }

  //Display
  display: flex;
  justify-content: center;

  .about-content {
    //Size
    @include page-container;

    //Display
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .about__image {
      //Size
      height: 300px;
      width: 100%;
      @media (min-width: 768px) {
        height: auto;
        width: 40%;
      }

      //Display
      //display: flex;
      //justify-content: center;
      //align-items: center;

      //Design
      //background-image: url("../images/portrait.jpg");
      //background-position: 50% 25%;
      //background-repeat: no-repeat;
      //background-size: cover;
      //@media (min-width: 992px) {
      //  background-position: 50% 50%;
      //}

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .about__text {
      //Size
      width: 100%;
      @media (min-width: 768px) {
        width: 60%;
      }

      //Padding & Margins
      padding-left: 0;
      @media (min-width: 768px) {
        padding-left: 10%;
      }

      //padding-left: 16px;

      p:nth-of-type(1) {
        margin-top: 0;
      }

      a {
        @include button;
      }
    }
  }
}
