.about {
  //Padding & Margins
  @include page-margin;
  margin: 64px 0;
  @media (min-width: 768px) {
    margin: 112px 0;
  }

  //Display
  display: flex;
  justify-content: center;

  .about-content {
    //Size
    @include page-container;

    //Display
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
    }

    .about__image {
      //Size
      width: 100%;
      @media (min-width: 992px) {
        width: 50%;
      }

      //Display
      display: grid;
      place-items: center;
      grid-template-columns: repeat(12, 1fr);

      //Position
      position: relative;

      div:nth-of-type(1) {
        //Padding & Margins
        margin-top: -10%;
        @media (min-width: 992px) {
          margin-top: 0;
        }

        //Display
        grid-column: 1 / 13;
        grid-row: 1;
        @media (min-width: 992px) {
          grid-column: 1 / 12;
        }

        img {
          //Size
          height: 200px;
          @media (min-width: 992px) {
            height: 100%;
          }

          //Design
          object-fit: cover;
        }
      }

      div:nth-of-type(2) {
        //Padding & Margins
        padding-top: 10%;
        @media (min-width: 992px) {
          padding-top: 0;
        }

        //Display
        display: flex;
        justify-content: center;
        grid-row: 1;
        grid-column: 1 / 13;
        @media (min-width: 992px) {
          grid-column: 9 / span 8;
        }

        //Design
        z-index: 1;

        img {
          //Size
          width: 80%;
        }
      }

      img {
        //Size
        width: 100%;

        //Display
        display: block;
      }
    }

    .about__text {
      //Size
      width: 100%;
      @media (min-width: 992px) {
        width: 50%;
      }

      //Padding & Margins
      //padding-left: 16px;

      p:nth-of-type(1) {
        margin-top: 0;
      }

      a {
        @include button;
      }
    }
  }
}
