.services {
  //Padding & Margins
  @include page-margin;

  //Display
  display: flex;
  justify-content: center;

  .services-content {
    //Size
    @include page-container;

    //Padding & Margins
    margin-bottom: 64px;
    @media (min-width: 992px) {
      margin-bottom: 112px;
    }

    //Display
    display: flex;
    flex-direction: column;
    align-items: center;

    //Design
    text-align: center;

    h2 {
      //Padding & Margins
      margin-bottom: 16px;
      @media (min-width: 992px) {
        margin-bottom: 64px;
      }
    }

    .services__grid {
      //Display
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;
      @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      div {
        //Size
        width: 100%;
        @media (min-width: 992px) {
          width: 100%;
        }

        //Padding & Margins
        padding: 2em;

        //Display
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        //Design
        border: $primary 4px solid;
        border-radius: 8px;

        h3 {
          margin-top: 0;
        }

        div {
          //Size
          width: 100%;

          //Padding & Margins
          padding: 0;

          //Design
          border: none;

          a {
            all: unset;
            //Design
            color: $primary;
            cursor: pointer;
          }
        }

        a {
          @include button;
        }
      }

      .span-2 {
        //Display
        grid-column: auto;
        @media (min-width: 576px) {
          grid-column: 1 / 3;
        }
        @media (min-width: 992px) {
          grid-column: auto;
        }
      }
    }
  }

  a {
    @include button;
    margin-top: 64px;
  }
}
