* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #0a1933;
}

p,
a {
  font-size: 16px;
}

@media (min-width: 992px) {
  p,
  a {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

h2 {
  margin-bottom: 16px;
  font-size: 28px;
}

@media (min-width: 992px) {
  h2 {
    font-size: 40px;
    margin-bottom: 8px;
  }
}

.header__links {
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2151a6;
}

@media (min-width: 576px) {
  .header__links {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .header__links {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.header__links .header__links-content {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links .header__links-content a {
  color: #ffffff;
}

.header__links .header__links-content i {
  margin: 0 16px 0 0;
  color: #ffffff;
}

.header__main {
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .header__main {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .header__main {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.header__main .header__main-content {
  width: 100%;
  max-width: 1440px;
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main .header__main-content .header__logo {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
}

.header__main .header__main-content nav {
  display: none;
}

@media (min-width: 768px) {
  .header__main .header__main-content nav {
    display: block;
  }
}

.header__main .header__main-content nav a {
  padding: 0 0 0 32px;
  color: #0a1933;
  text-decoration: none;
}

.header__main .header__menu-toggle {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header__main .header__menu-toggle {
    display: none;
  }
}

.header__main .header__menu-toggle i {
  font-size: 32px;
}

.mobile-navigation {
  padding: 24px 0;
  display: none;
  background-color: #2151a6;
  -webkit-transition: all 0.26s ease-in-out;
  transition: all 0.26s ease-in-out;
}

@media (min-width: 768px) {
  .mobile-navigation {
    display: none !important;
  }
}

.mobile-navigation a {
  padding: 16px 0;
  color: #ffffff;
  text-decoration: none;
}

.hero-section {
  height: 50vh;
  padding-top: 86px;
  background-image: url("../images/hero-image.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-section {
    height: 80vh;
  }
}

.hero-section h1 {
  margin: 0;
  font-size: 48px;
}

@media (min-width: 900px) {
  .hero-section h1 {
    font-size: 96px;
  }
}

.hero-section h2 {
  margin: 0;
  color: #ffffff;
  font-size: 40px;
}

@media (min-width: 900px) {
  .hero-section h2 {
    font-size: 80px;
  }
}

.services {
  min-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2151a6;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 576px) {
  .services {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .services {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.services .services-content {
  width: 100%;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 768px) {
  .services .services-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.services .services-content div {
  padding: 8px;
}

@media (min-width: 768px) {
  .services .services-content div {
    padding: none;
  }
}

.about {
  padding-left: 24px;
  padding-right: 24px;
  margin: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .about {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .about {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 768px) {
  .about {
    margin: 112px 0;
  }
}

.about .about-content {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .about .about-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about .about-content .about__image {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/IMG-5595.JPG");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  .about .about-content .about__image {
    height: auto;
    width: 40%;
  }
}

@media (min-width: 992px) {
  .about .about-content .about__image {
    background-position: 50% 50%;
  }
}

.about .about-content .about__text {
  width: 100%;
  padding-left: 0;
}

@media (min-width: 992px) {
  .about .about-content .about__text {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .about .about-content .about__text {
    padding-left: 10%;
  }
}

.about .about-content .about__text p:nth-of-type(1) {
  margin-top: 0;
}

.about .about-content .about__text a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 32px;
  padding: 8px 32px;
  display: block;
  background-color: #2151a6;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.how-it-works {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .how-it-works {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .how-it-works {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-width: 768px) {
  .how-it-works {
    margin-bottom: 112px;
  }
}

.how-it-works .how-it-works-content {
  width: 100%;
  max-width: 1440px;
}

.how-it-works .how-it-works-content h2 {
  margin-bottom: 16px;
  text-align: left;
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content h2 {
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content h2 {
    text-align: center;
  }
}

.how-it-works .how-it-works-content .how-it-works__process {
  margin-bottom: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.how-it-works .how-it-works-content .how-it-works__process .process__step {
  width: 100%;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step {
    text-align: center;
  }
}

.how-it-works .how-it-works-content .how-it-works__process .process__step .process__step-number {
  min-height: 52px;
  min-width: 43px;
  margin-bottom: 0px;
  margin-right: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #2151a6;
  border-radius: 8px;
  color: #ffffff;
  font-family: "DM Serif Display", serif;
  font-size: 28px;
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step .process__step-number {
    min-height: 56px;
    min-width: 52px;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step .process__step-number {
    margin-bottom: 16px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__step .process__step-number {
    font-size: 36px;
  }
}

.how-it-works .how-it-works-content .how-it-works__process .process__divider {
  width: 20%;
  display: none;
}

@media (min-width: 768px) {
  .how-it-works .how-it-works-content .how-it-works__process .process__divider {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
}

.how-it-works .how-it-works-content .how-it-works__process .process__divider div {
  height: 4px;
  width: 80%;
  min-width: 100px;
  max-width: 160px;
  border-bottom: #2151a6 dashed 4px;
}

.testimonials {
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7fa4e6;
}

@media (min-width: 576px) {
  .testimonials {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .testimonials {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.testimonials .testimonials-content {
  width: 100%;
  max-width: 1440px;
}

.testimonials .testimonials-content h2 {
  color: #ffffff;
  text-align: left;
}

@media (min-width: 768px) {
  .testimonials .testimonials-content h2 {
    text-align: center;
  }
}

.testimonials .testimonials-content .reviews {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .testimonials .testimonials-content .reviews {
    margin: 64px 0;
  }
}

@media (min-width: 576px) {
  .testimonials .testimonials-content .reviews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.testimonials .testimonials-content .reviews .reviews__review {
  width: 100%;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .testimonials .testimonials-content .reviews .reviews__review {
    width: 33.333%;
  }
}

@media (min-width: 768px) {
  .testimonials .testimonials-content .reviews .reviews__review {
    margin-bottom: 0;
  }
}

.testimonials .testimonials-content .reviews .reviews__review img {
  width: 90%;
}

@media (min-width: 576px) {
  .testimonials .testimonials-content .reviews .reviews__review img {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .testimonials .testimonials-content .reviews .reviews__review img {
    width: 75%;
  }
}

.contact-faq {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  .contact-faq {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .contact-faq {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (min-height: 768px) {
  .contact-faq {
    margin-top: 112px;
    margin-bottom: 112px;
  }
}

.contact-faq .contact-faq-content {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  .contact-faq .contact-faq-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-faq .contact {
  width: 100%;
  margin-right: 200px;
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .contact-faq .contact {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .contact-faq .contact {
    margin-bottom: 0;
  }
}

.contact-faq .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-faq .contact form input,
.contact-faq .contact form textarea {
  all: unset;
  min-height: 32px;
  padding: 2px 8px;
  margin-bottom: 16px;
  border: #2151a6 2px solid;
  border-radius: 8px;
}

.contact-faq .contact form input:focus,
.contact-faq .contact form textarea:focus {
  background-color: #7fa4e6;
  color: #ffffff;
}

.contact-faq .contact form textarea {
  min-height: 128px;
  margin-bottom: 0;
}

.contact-faq .contact form button {
  all: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 32px;
  padding: 8px 32px;
  display: block;
  background-color: #2151a6;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.FAQ {
  width: 100%;
}

@media (min-width: 992px) {
  .FAQ {
    width: 50%;
  }
}

.FAQ .faqs .faq-container {
  margin-bottom: 8px;
}

.FAQ .faqs .faq-container .faq-question {
  height: 40px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2151a6;
  color: #ffffff;
}

.FAQ .faqs .faq-container .faq-question .fa-plus {
  cursor: pointer;
}

.FAQ .faqs .faq-container .faq-question .fa-minus {
  cursor: pointer;
  display: none;
}

.FAQ .faqs .faq-container .faq-answer {
  padding: 8px 20px;
  display: none;
  border: #2151a6 solid 2px;
}

.FAQ .faqs .faq-container .faq-answer a {
  all: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 32px;
  padding: 8px 32px;
  display: block;
  background-color: #2151a6;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

footer {
  min-height: 300px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2151a6;
  color: #ffffff;
}

@media (min-width: 576px) {
  footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  footer {
    padding-left: 64px;
    padding-right: 64px;
  }
}

footer .footer-content {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  footer .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .footer-content .footer__text {
  padding: 16px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-content .footer__text .footer__logo {
  font-family: "DM Serif Display", serif;
  font-size: 36px;
}

footer .footer-content .footer__links {
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content .footer__links .footer__social-icons i {
  margin: 0 16px 16px 0;
  color: #ffffff;
}

footer .footer-content .footer__links .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-content .footer__links .footer__navigation a {
  margin: 8px 0;
  color: #ffffff;
  text-decoration: none;
}

footer .footer__copyright {
  margin: 16px 0;
}
/*# sourceMappingURL=style.css.map */